<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.server.dao.system.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.dl.server.entity.system.SysUser">
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dl.server.entity.system.SysUser">
    insert into sys_user (userid, pwd, username
      )
    values (#{userid,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dl.server.entity.system.SysUser">
    update sys_user
    set pwd = #{pwd,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select userid, pwd, username
    from sys_user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select userid, pwd, username
    from sys_user
  </select>
</mapper>