/.gradle
/dlbase/.settings/
/dlbase/bin/
/dlbase/build/
/dlserver/logs/
/dlbase/.classpath
/dlbase/.project
/dlserver/.settings/
/dlserver/bin/
/dlserver/build/
/dlserver/logs/
/dlserver/.classpath
/dlserver/.project
/dlserver-api/.settings/
/dlserver-api/bin/
/dlserver-api/build/
/dlserver-api/logs/
/dlserver-api/.classpath
/dlserver-api/.project
/dlserver-app/.settings/
/dlserver-app/bin/
/dlserver-app/build/
/dlserver-app/logs/
/dlserver-app/.classpath
/dlserver-app/.project

build/
*/build/
*/temp/
*/library/
*/local/
*/packages/

