<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.server.dao.server.ServerBulletinDao">
    <resultMap id="BaseResultMap" type="com.dl.server.entity.server.ServerBulletin">
        <id column="title" jdbcType="VARCHAR" property="title" />
        <result column="serverid" jdbcType="VARCHAR" property="serverid" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="startdate" jdbcType="VARCHAR" property="startdate" />
        <result column="enddate" jdbcType="VARCHAR" property="enddate" />
        <result column="issuer" jdbcType="VARCHAR" property="issuer" />
    </resultMap>
	
	<sql id="column_list">
        serverid, title, content, startdate, enddate, issuer
	</sql>
  
    <insert id="insert" parameterType="com.dl.server.entity.server.ServerBulletin">
        insert into server_bulletin (serverid, title, content, startdate, enddate, issuer)
        values (#{serverid, jdbcType=VARCHAR}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, #{startdate, jdbcType=VARCHAR}, #{enddate, jdbcType=VARCHAR}, #{issuer, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="com.dl.server.entity.server.ServerBulletin" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from server_bulletin
		<where>
			<if test="serverid != null ">
				and serverid = #{serverid, jdbcType=VARCHAR}
			</if>
			<if test="title != null ">
				and title = #{title, jdbcType=VARCHAR}
			</if>
			<if test="content != null ">
				and content = #{content, jdbcType=VARCHAR}
			</if>
			<if test="startdate != null ">
				and startdate = #{startdate, jdbcType=VARCHAR}
			</if>
			<if test="enddate != null ">
				and enddate = #{enddate, jdbcType=VARCHAR}
			</if>
			<if test="issuer != null ">
				and issuer = #{issuer, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from server_bulletin
         where 1=1 and title = #{0}
    </select>

    <delete id="deleteById">
        delete from server_bulletin
         where 1=1 and title = #{0}
    </delete>
  
    <update id="updateById" parameterType="com.dl.server.entity.server.ServerBulletin">
        update server_bulletin set 
               serverid = #{serverid, jdbcType=VARCHAR}, 
               content = #{content, jdbcType=VARCHAR}, 
               startdate = #{startdate, jdbcType=VARCHAR}, 
               enddate = #{enddate, jdbcType=VARCHAR}, 
               issuer = #{issuer, jdbcType=VARCHAR}
         where 1=1 and title = #{title, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="com.dl.server.entity.server.ServerBulletin">
		update server_bulletin
		<set>
		    <if test="serverid != null">
				serverid = #{serverid, jdbcType=VARCHAR},
		    </if>
		    <if test="content != null">
				content = #{content, jdbcType=VARCHAR},
		    </if>
		    <if test="startdate != null">
				startdate = #{startdate, jdbcType=VARCHAR},
		    </if>
		    <if test="enddate != null">
				enddate = #{enddate, jdbcType=VARCHAR},
		    </if>
		    <if test="issuer != null">
				issuer = #{issuer, jdbcType=VARCHAR},
		    </if>
		</set>
		where 1=1 and title = #{title, jdbcType=VARCHAR}
	</update>
</mapper>