<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.server.dao.game.GameSceneInfoDao">
    <resultMap id="BaseResultMap" type="com.dl.server.entity.game.GameSceneInfo">
        <id column="sceneid" jdbcType="INTEGER" property="sceneid" />
        <result column="scenename" jdbcType="VARCHAR" property="scenename" />
    </resultMap>
  
    <select id="findUnique" parameterType="com.dl.server.entity.game.GameSceneInfo" resultMap="BaseResultMap">
        select sceneid, scenename
          from game_scene_info
		<where>
			<if test="sceneid != null and sceneid != ''">
				and sceneid = #{sceneid, jdbcType=INTEGER}
			</if>
			<if test="scenename != null and scenename != ''">
				and scenename = #{scenename, jdbcType=VARCHAR}
			</if>
		</where>
    </select>
  
    <insert id="insert" parameterType="com.dl.server.entity.game.GameSceneInfo">
        insert into game_scene_info (sceneid, scenename)
        values (#{sceneid, jdbcType=INTEGER}, #{scenename, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" resultMap="BaseResultMap">
        select sceneid, scenename
          from game_scene_info
    </select>

    <select id="selectById" parameterType="map" resultMap="BaseResultMap">
        select sceneid, scenename
          from game_scene_info
         where 1=1 and sceneid = #{arg0}
    </select>

    <delete id="deleteById" parameterType="map">
        delete from game_scene_info
         where 1=1 and sceneid = #{arg0}
    </delete>
  
    <update id="updateById" parameterType="com.dl.server.entity.game.GameSceneInfo">
        update game_scene_info set 
               scenename = #{scenename, jdbcType=VARCHAR}
         where 1=1 and sceneid = #{sceneid, jdbcType=INTEGER}
    </update>
</mapper>