<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.server.dao.game.GameServerInfoDao">
    <resultMap id="BaseResultMap" type="com.dl.server.entity.game.GameServerInfo">
        <id column="serverid" jdbcType="VARCHAR" property="serverid" />
        <result column="servername" jdbcType="VARCHAR" property="servername" />
        <result column="sno" jdbcType="INTEGER" property="sno" />
        <result column="opendate" jdbcType="VARCHAR" property="opendate" />
        <result column="opentime" jdbcType="VARCHAR" property="opentime" />
        <result column="maxplayer" jdbcType="INTEGER" property="maxplayer" />
        <result column="regplayer" jdbcType="INTEGER" property="regplayer" />
        <result column="onlineplayer" jdbcType="INTEGER" property="onlineplayer" />
    </resultMap>
	
	<sql id="column_list">
        serverid, servername, sno, opendate, opentime, maxplayer, regplayer, onlineplayer
	</sql>
  
    <insert id="insert" parameterType="com.dl.server.entity.game.GameServerInfo">
        insert into game_server_info (serverid, servername, sno, opendate, opentime, maxplayer, regplayer, onlineplayer)
        values (#{serverid, jdbcType=VARCHAR}, #{servername, jdbcType=VARCHAR}, #{sno, jdbcType=INTEGER}, #{opendate, jdbcType=VARCHAR}, #{opentime, jdbcType=VARCHAR}, #{maxplayer, jdbcType=INTEGER}, #{regplayer, jdbcType=INTEGER}, #{onlineplayer, jdbcType=INTEGER})
    </insert>
  
    <select id="selectAll" parameterType="com.dl.server.entity.game.GameServerInfo" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_server_info
		<where>
			<if test="serverid != null ">
				and serverid = #{serverid, jdbcType=VARCHAR}
			</if>
			<if test="servername != null ">
				and servername = #{servername, jdbcType=VARCHAR}
			</if>
			<if test="sno != null ">
				and sno = #{sno, jdbcType=INTEGER}
			</if>
			<if test="opendate != null ">
				and opendate = #{opendate, jdbcType=VARCHAR}
			</if>
			<if test="opentime != null ">
				and opentime = #{opentime, jdbcType=VARCHAR}
			</if>
			<if test="maxplayer != null ">
				and maxplayer = #{maxplayer, jdbcType=INTEGER}
			</if>
			<if test="regplayer != null ">
				and regplayer = #{regplayer, jdbcType=INTEGER}
			</if>
			<if test="onlineplayer != null ">
				and onlineplayer = #{onlineplayer, jdbcType=INTEGER}
			</if>
		</where>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_server_info
         where 1=1 and serverid = #{0}
    </select>

    <delete id="deleteById">
        delete from game_server_info
         where 1=1 and serverid = #{0}
    </delete>
  
    <update id="updateById" parameterType="com.dl.server.entity.game.GameServerInfo">
        update game_server_info set 
               servername = #{servername, jdbcType=VARCHAR}, 
               sno = #{sno, jdbcType=INTEGER}, 
               opendate = #{opendate, jdbcType=VARCHAR}, 
               opentime = #{opentime, jdbcType=VARCHAR}, 
               maxplayer = #{maxplayer, jdbcType=INTEGER}, 
               regplayer = #{regplayer, jdbcType=INTEGER}, 
               onlineplayer = #{onlineplayer, jdbcType=INTEGER}
         where 1=1 and serverid = #{serverid, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="com.dl.server.entity.game.GameServerInfo">
		update game_server_info
		<set>
		    <if test="servername != null">
				servername = #{servername, jdbcType=VARCHAR},
		    </if>
		    <if test="sno != null">
				sno = #{sno, jdbcType=INTEGER},
		    </if>
		    <if test="opendate != null">
				opendate = #{opendate, jdbcType=VARCHAR},
		    </if>
		    <if test="opentime != null">
				opentime = #{opentime, jdbcType=VARCHAR},
		    </if>
		    <if test="maxplayer != null">
				maxplayer = #{maxplayer, jdbcType=INTEGER},
		    </if>
		    <if test="regplayer != null">
				regplayer = #{regplayer, jdbcType=INTEGER},
		    </if>
		    <if test="onlineplayer != null">
				onlineplayer = #{onlineplayer, jdbcType=INTEGER},
		    </if>
		</set>
		where 1=1 and serverid = #{serverid, jdbcType=VARCHAR}
	</update>
</mapper>