<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.server.dao.game.GameSkillInfoDao">
    <resultMap id="BaseResultMap" type="com.dl.server.entity.game.GameSkillInfo">
        <id column="skillid" jdbcType="VARCHAR" property="skillid" />
        <result column="skillname" jdbcType="VARCHAR" property="skillname" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>
	
	<sql id="column_list">
        skillid, skillname, icon, type, remark
	</sql>
  
    <insert id="insert" parameterType="com.dl.server.entity.game.GameSkillInfo">
        insert into game_skill_info (skillid, skillname, icon, type, remark)
        values (#{skillid, jdbcType=VARCHAR}, #{skillname, jdbcType=VARCHAR}, #{icon, jdbcType=VARCHAR}, #{type, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="com.dl.server.entity.game.GameSkillInfo" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_skill_info
		<where>
			<if test="skillid != null ">
				and skillid = #{skillid, jdbcType=VARCHAR}
			</if>
			<if test="skillname != null ">
				and skillname = #{skillname, jdbcType=VARCHAR}
			</if>
			<if test="icon != null ">
				and icon = #{icon, jdbcType=VARCHAR}
			</if>
			<if test="type != null ">
				and type = #{type, jdbcType=VARCHAR}
			</if>
			<if test="remark != null ">
				and remark = #{remark, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into game_skill_info (skillid, skillname, icon, type, remark) 
		values (#{item.skillid, jdbcType=VARCHAR}, #{item.skillname, jdbcType=VARCHAR}, #{item.icon, jdbcType=VARCHAR}, #{item.type, jdbcType=VARCHAR}, #{item.remark, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_skill_info
         where 1=1 and skillid = #{0}
    </select>

    <delete id="deleteById">
        delete from game_skill_info
         where 1=1 and skillid = #{0}
    </delete>
  
    <update id="updateById" parameterType="com.dl.server.entity.game.GameSkillInfo">
        update game_skill_info set 
               skillname = #{skillname, jdbcType=VARCHAR}, 
               icon = #{icon, jdbcType=VARCHAR}, 
               type = #{type, jdbcType=VARCHAR}, 
               remark = #{remark, jdbcType=VARCHAR}
         where 1=1 and skillid = #{skillid, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="com.dl.server.entity.game.GameSkillInfo">
		update game_skill_info
		<set>
		    <if test="skillname != null">
				skillname = #{skillname, jdbcType=VARCHAR},
		    </if>
		    <if test="icon != null">
				icon = #{icon, jdbcType=VARCHAR},
		    </if>
		    <if test="type != null">
				type = #{type, jdbcType=VARCHAR},
		    </if>
		    <if test="remark != null">
				remark = #{remark, jdbcType=VARCHAR},
		    </if>
		</set>
		where 1=1 and skillid = #{skillid, jdbcType=VARCHAR}
	</update>
</mapper>