<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.server.dao.game.GameEquipSkillDao">
    <resultMap id="BaseResultMap" type="com.dl.server.entity.game.GameEquipSkill">
        <id column="equipid" jdbcType="VARCHAR" property="equipid" />
        <id column="skillid" jdbcType="VARCHAR" property="skillid" />
    </resultMap>
	
	<sql id="column_list">
        equipid, skillid
	</sql>
  
    <insert id="insert" parameterType="com.dl.server.entity.game.GameEquipSkill">
        insert into game_equip_skill (equipid, skillid)
        values (#{equipid, jdbcType=VARCHAR}, #{skillid, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="com.dl.server.entity.game.GameEquipSkill" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_equip_skill
		<where>
			<if test="equipid != null ">
				and equipid = #{equipid, jdbcType=VARCHAR}
			</if>
			<if test="skillid != null ">
				and skillid = #{skillid, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into game_equip_skill (equipid, skillid) 
		values (#{item.equipid, jdbcType=VARCHAR}, #{item.skillid, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_equip_skill
         where 1=1 and equipid = #{0} and skillid = #{1}
    </select>

    <delete id="deleteById">
        delete from game_equip_skill
         where 1=1 and equipid = #{0} and skillid = #{1}
    </delete>
  
</mapper>