<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.server.dao.game.GameEquipSkillDao">
    <resultMap id="BaseResultMap" type="com.dl.server.entity.game.GameEquipSkill">
        <id column="equipid" jdbcType="VARCHAR" property="equipid" />
        <id column="skillid" jdbcType="VARCHAR" property="skillid" />
    </resultMap>
  
    <insert id="insert" parameterType="com.dl.server.entity.game.GameEquipSkill">
        insert into game_equip_skill (equipid, skillid)
        values (#{equipid, jdbcType=VARCHAR}, #{skillid, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="com.dl.server.entity.game.GameEquipSkill" resultMap="BaseResultMap">
        select equipid, skillid
          from game_equip_skill
		<where>
			<if test="equipid != null and equipid != ''">
				and equipid = #{equipid, jdbcType=VARCHAR}
			</if>
			<if test="skillid != null and skillid != ''">
				and skillid = #{skillid, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

    <select id="selectById" parameterType="map" resultMap="BaseResultMap">
        select equipid, skillid
          from game_equip_skill
         where 1=1 and equipid = #{arg0} and skillid = #{arg1}
    </select>

    <delete id="deleteById" parameterType="map">
        delete from game_equip_skill
         where 1=1 and equipid = #{arg0} and skillid = #{arg1}
    </delete>
  
</mapper>