<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsddbz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{1,309},{47,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bsddbz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{150,261},{129,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bsddbz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{147,130}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{160,1},{147,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bsddbz_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{147,126}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{160,133},{147,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bsddbz_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{121,112}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{282,277},{121,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bsddbz_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{137,132}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{309,138},{137,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bsddbz_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{135,134}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{309,1},{135,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bsddbz_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{1,159},{147,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bsddbz_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{157,156}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blast.png</string>
            <key>size</key>
            <string>{444,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:373f1b58075bf6389e160b1d8967bafc:746a4d340685333bc73c86f7e32849e2:e88d2f13f546b76d18e9c0c35551aac7$</string>
            <key>textureFileName</key>
            <string>blast.png</string>
        </dict>
    </dict>
</plist>
